@model Conference_Management_System.Models.User
@{
    ViewBag.Title = "FindUserBy";
}

<h2>Log In</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password)
    </div>
    <br />

    <input type="submit" id="LogInButton" value="Log In" />
}

