@model List<Conference_Management_System.Models.Submission>

@{
    ViewBag.Title = "PaperList";
}

<h2>See other reviews for papers</h2>

    <table class="table">
        <tr>
            <th>
                Paper
            </th>
            <th>
               Reviews
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("SeeOtherReviews", "GetReviewsForPaper", "SeeOtherReviews", new { paperId = item.Id })
                </td>
                
            </tr>
        }

    </table>
   