<li class="logo"><a href="">CMS</a></li>
<li><a href="@Url.Action("GetAll", "Conference")">Conferences</a></li>
<li> <a href="@Url.Action("GetAllBids", "AssignProposals")">Assign Proposals</a></li>
<li> <a href="@Url.Action("Logout", "Logout")">Logout</a></li>