<li class="logo"><a href="">CMS</a></li>
<li><a href="@Url.Action("GetAll", "Conference")">Conferences</a></li>
<li> <a href="@Url.Action("GetAllSections", "SignUpForSection")">Sign up for section</a></li>
<li> <a href="@Url.Action("Pay", "Fees")">Pay fee</a></li>
<li> <a href="@Url.Action("Logout", "Logout")">Logout</a></li>