<li class="logo"><a href="@Url.Action("FindUserBy", "Login")">CMS</a></li>
<li><a href="@Url.Action("GetAll", "Conference")">Conferences</a></li>
<li> <a href="@Url.Action("FindUserBy", "Login")">Login</a></li>
<li> <a href="@Url.Action("Add", "SignUp")">Sign up</a></li>