<li class="logo"><a href="">CMS</a></li>
<li><a href="@Url.Action("GetAll", "Conference")">Conferences</a></li>
<li> <a href="@Url.Action("PostInfo", "Conference")">Post conference</a></li>
<li> <a href="@Url.Action("AddSection", "AddSection")">Add section to conference</a></li>
<li> <a href="@Url.Action("Logout", "Logout")">Logout</a></li>