<div class="jumbotron">
    <h1>Interzis <span class="glyphicon glyphicon-remove" /></h1>
<p>Nu aveti permmisiunile necesare pentru a accesa aceasta pagina. Var ugam sa va logati 
    pe un cont cu privilegile necesare</p>
</div>