<div class="jumbotron">
    <h1>Interzis <span class="glyphicon glyphicon-remove" /></h1>
<p>Nu aveti permmisiunile necesare pentru a accesa aceasta pagina. Va rugam sa va logati 
    pe un cont cu privilegiile necesare</p>
</div>