model IQueryable<Conference_Management_System.Models.User>
@{
    ViewBag.Title = "Conferences FTW";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}

<h2><strong>Welcome!</strong> (<a href="/log_in.cshtml" style="color: blue;">Log In</a>)</h2>
<br />
